---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #5785b3 !default;
$header-bg-color-secondary: #104e2f !default;


@import "{{ site.theme }}";

.page-header {
	padding: 3rem 6rem;
}

main-content h1, .main-content h2, .main-content h3, .main-content h4 {
   color: #54062a;
}

p {
color: black;	
}

