---
---

@import "{{ site.theme }}";

/*import google font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* change height of page header */

.page-header {
    padding: 3rem 6rem;
    color: #fff;
    text-align: center;
    background-color: #5785b3;
    background-image: linear-gradient(120deg, #1f2962, #aa57b3);
}


/*set font for site */
body {
    font-family: 'Roboto', sans-serif;
}

/* change font colour of heading tags */
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
   color: #54062a;
}

.codeblock {
  font-size:1.1em; 
  padding: 2px 4px 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}

/* change font colour for paragraphs tags */
p {
color: black;	
}

/*image text wrap CSS */
.imgLeft {
  float:left;
  margin: 0 10px 10px 0;
  width:50%; 
  vertical-align:top; 
  border:1px solid #021a40;
}

.clearLeft {
   clear:left;
}

#noun {
    color:#00cc00;
}
#adj {
    color: #c61aff;
}

